@font-face {
    font-family: "vgknights";
    src: url("~@/assets/fonts/vgknights/vgknights.ttf") format("truetype");
}

@font-face {
    font-family: "raleway";
    src: url("~@/assets/fonts/raleway/raleway.ttf") format("truetype");
}

@font-face {
    font-family: "neumaticlight";
    src: url("~@/assets/fonts/neumatic/neumaticgothiclight.ttf") format("truetype");
}